@import url("https://fonts.googleapis.com/css?family=Coming+Soon");


*{
  scroll-behavior: smooth;
}
*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 
}

body{
   background: #002851;
  color: #fefeff;
  margin: 0;
  font-family: "Coming Soon", cursive;
}
